.checkout {
  right: 0;
  z-index: 10;
  transition: 0.7s;

  .shopping-cart {
    border-radius: 0 0 0.6rem 0.6rem;

    .remove {
      cursor: pointer;
      transition: 1s;
  
      &:hover { color: black !important; }
    }
  }
}