.donuts-store {
  font-family: "Kaushan Script";
  top: 0;

  .text-pink { color: #ef7998 !important; }

  .hovered {
    &:hover, &.active {
      color: #ef7998 !important;
      background-color: black !important;
      transition: 0.5s;
    }
  }

  a, button {  transition: 0.3s; }
}
